<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="com.pp.sdk.demo">

    <!-- PPSDK需要的权限 -->
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE"/>
    <uses-permission android:name="android.permission.READ_PHONE_STATE"/>
    <uses-permission android:name="android.permission.GET_TASKS"/>
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW"/>
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>

        <!-- PPSDK的组件 -->
        <activity
            android:name="com.pp.sdk.main.TheActivity"
            android:screenOrientation="portrait"/>

        <service
            android:name="com.pp.sdk.main.TheService"
            android:enabled="true"
            android:exported="false"/>

        <service
            android:name="com.pp.sdk.downloader.RPPDBindService"
            android:enabled="true"
            android:exported="false"
            android:process=":download">
            <intent-filter>
                <action android:name="com.pp.sdk.downloader.RPPDownloadService"/>
            </intent-filter>
        </service>
    </application>

</manifest>
